<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="../../lib/bootstrap.js"></script>

<script type="text/javascript" src="../../js/contents.js"></script>
<script type="text/javascript" src="../../js/header.js"></script>
<script type="text/javascript" src="../../js/category.js"></script>

<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css"/>

<title>Category</title>
</head>
<body>
	<!-- Header -->
	<nav class="navbar navbar-default">
	  	<div class="container-fluid">
	  		<!-- 로고 -->
	    	<div class="navbar-header">
	    		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        	<span class="sr-only">Toggle navigation</span>
		        	<span class="icon-bar"></span>
		        	<span class="icon-bar"></span>
		        	<span class="icon-bar"></span>
	      		</button>
	      		<a class="navbar-brand" href="/home">SKB</a>
	    	</div>
	
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    	<!-- 메뉴 -->
		    	<ul class="nav navbar-nav">
			        <li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">메뉴<span class="caret"></span></a>
						<ul id="menu" class="dropdown-menu">
							<li><a href="/home">홈</a></li>
							<li><a href="/favorites">내 동영상 목록</a></li>
							<li role="separator" class="divider"></li>
						</ul>
			        </li>
		      	</ul>
		      	
		      	<!-- 검색 영역 -->
		      	<div class="navbar-form navbar-left">
			        <div class="form-group">
			        	<input id="searchInput" type="text" class="form-control" placeholder="제목" />
			        </div>
			        <button id="btnSearch" onclick="searchContents();" class="btn btn-default">검색</button>
		      	</div>
		      	
		      	<ul class="nav navbar-nav navbar-right">
		      		<!-- 알림 -->
		        	<li><a href="#" onclick="getNotifications(); return false;">알림</a></li>
		        	
		        	<!-- 프로필 -->
		        	<li class="dropdown">
		          		<a id="defaultProfile" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
		          		<ul id="profiles" class="dropdown-menu">
		            		<li><a href="#">프로필 관리</a></li>
		            		<li role="separator" class="divider"></li>
		            		<li><a href="#">계정</a></li>
		            		<li><a href="#">고객 센터</a></li>
		            		<li><a href="/logout">로그아웃</a></li>
		          		</ul>
			        </li>
		      	</ul>
		    </div>
	    </div>
	</nav>
	
	<!-- Body -->
	<!-- Contents -->
	<div id="contents" class="container"></div>
	
	<!-- Detail -->
	<div id="detailDiv">
		<div class="jumbotron">
	  		<div id="videoInfo" class="container">
		  			<h1 id="detailTitle"></h1>
		  			<p>
		  				<span id="detailGrade"></span>
			  			<span id="detailYear"></span>
		  				<span id="detailRate"></span>
		  				<span id="detailRuntime"></span>
		  			</p>
		  			<p id="detailActor"></p>
		  			<p id="detailGenre"></p>
		  			<p id="detailFeature"></p>
		  			<p id="detailSummary"></p>
		  			<img id="detailPoster" src="" alt="" height="500" width="350" />
		  			<p><a class="btn btn-primary btn-lg" href="#" onclick="alert('add'); return false;" role="button">내 동영상 목록</a></p>
	  		</div>
	  		<div id="episodeInfo" class="container" style="display: none;">
		  		<div class="row"></div>
	  		</div>
	  		<div id="trailerInfo" class="container" style="display: none;">
				<div class="row"></div>
			</div>
			<div id="smiliarInfo" class="container" style="display: none;">
				<div class="row"></div>
			</div>
	  		<div id="detailInfo" class="container" style="display: none;">
	  			<h1 id="detailTitle"></h1>
	  			<p id="detailDirector"></p>
	  			
	  			<p id="detailActor2"></p>
	  			<p id="detailGenre2"></p>
	  			<p id="detailFeature2"></p>
	  			
	  			<p id="detailRate"></p>
	  			<p id="detailVoice"></p>
	  			<p id="detailSubtitle"></p>
	  		</div>
		</div>
		<div class="btn-group btn-group-justified" role="group">
	  		<div id="btnVideoInfo" class="btn-group" role="group">
	    		<button type="button" onclick="showVideoInfo();" class="btn btn-default">동영상 정보</button>
	  		</div>
	  		<div id="btnEpisodeInfo" class="btn-group" role="group">
		    	<button type="button" class="btn btn-default">회차 정보</button>
	  		</div>
	  		<div id="btnTrailerInfo" class="btn-group" role="group">
	    		<button type="button" class="btn btn-default">예고편 및 다른 영상</button>
	  		</div>
	  		<div id="btnSimilarInfo" class="btn-group" role="group">
	    		<button type="button" class="btn btn-default">비슷한 동영상</button>
	  		</div>
	  		<div id="btnDetailInfo" class="btn-group" role="group">
	    		<button type="button" onclick="showDetailInfo();" class="btn btn-default">상세 정보</button>
	  		</div>
		</div>
	</div>
</body>
</html>